*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sen, sans-serif;
}

a {
    text-decoration: none;
}

:root{
    --bgcolor-darkgrey: #181823
}

header{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 90vh;
}

header section:nth-child(1){
background-color: black;
padding-top: 32px;
padding-left: 7vw;
}

header section:nth-child(2){
    background-color: #181823;
}

header nav a{
    color: white;
}

header nav>a{
    font-weight: 600;
    font-size: 120%;
    padding-right: 24px;
}

header nav{
    padding-top: 6px;
    padding-right: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    font-weight: 400;
    font-size: 80%;
}

header nav ul li{
    padding: 32px 24px;
}

header nav ul li.active, header nav ul li:hover{
    background-color: blue;
}